/* set the default color, font-size, and line height, normalize the box model */
html {
  color: @brown;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}
/* normalize the box model */
*, *:before, *:after {
  box-sizing: border-box;
}
/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}
.wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em 1em;
  text-align: center;
}
.section-list,
.section-heading {
  .reset;
}
.section-list {
  li {
    list-style: none;
  }
}
/* link styles */
a, a:visited, .link {
  background: @red;
  color: @light-bg;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    background: lighten(@red, 2%);
    color: darken(@light-bg, 10%);
  }
}