.countdown-container {
  background-color: @light-bg;
}
.countdown-list {
  max-width: 800px;
  margin: 0 auto;
  display: flex;

  li {
    width: 33%;
  }
  span {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }
}