.header-container {
  background-color: @yellow;
}
.btn {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  background-color: @red;
  color: @light-bg;
  text-align: center;
  text-decoration: none;
  font-size: 1.6em;
  padding: 1em;
  .rounded-corner(4px);
}