<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>marsbq</title>
    <link rel="stylesheet" href="/dist/styles/main.css">
  </head>
  <body>
  {{> header}}

  {{> countdown}}

  {{> menu}}

  {{> footer}}
  <script src="/dist/scripts/main.js"></script>
  </body>
</html>
