<header class="header-container">
  <div class="wrap">
    <img src="/dist/img/marsbq_logo.png" alt="MarsBQ">
    <h1>MARS</h1>
    <p>Join us for the first intergalactic BBQ!</p>
    <h2>Sunday October 2, 2016</h2>
    <a class="btn" href="#">Register to Attend</a>
  </div>
</header>