<section id="menu" class="menu-container">
  <div class="wrap">
    <h2 class="section-heading">Menu</h2>
    <p>Please vote for your favorite items</p>
    <ul class="section-list menu-list">
      {{#each menu}}
        <li class="link" data-id="{{id}}">
          <span class="menu-title">{{title}}</span>
          <span class="menu-count">{{count}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</section>